.App {
  max-width: 720px;
  margin: 0 auto;
}

h3 {
  color: #f8ffe5;
  font-variant: normal;
  font-size: 18px;
}

h4 {
  color: #f8ffe5;
  font-variant: normal;
  font-weight: lighter;
  font-size: 14px;
}

a {
  color: inherit;
}

.thecentralcard {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border-color: rgb(39, 31, 22);
  border-width: none;
  background: rgb(39, 31, 22);
  background: linear-gradient(
    180deg,
    rgba(39, 31, 22) 31%,
    rgba(41, 115, 115, 1) 64%,
    rgba(210, 229, 126, 1) 100%
  );
}

.bannerImage {
  border-radius: 10px;
}

.mainImageCol {
  padding: 5px;
  margin: 0;
}

.mainImage {
  max-width: 9em;
  display: block;
  margin: 0 auto;
}

.searchButton {
  background: #d2e57e;
  border: #d2e57e;
  color: rgb(39, 31, 22);
  padding: 8px;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-top: 15px;
}

.footer,
.searchButton,
.searchingColumn {
  font-family: "Itim", cursive;
}

.definitionTypeText,
.pronunciationWordText,
.wordTitleText {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.wordTitleText {
  font-size: 40px;
  line-height: 50px;
  color: #dd9148;
  text-align: center;
}

.definitionTypeText {
  font-size: 25px;
  line-height: 35px;
  color: #dd9148;
  font-weight: bold;
}

.synonymsTitle {
  font-size: 17px;
  font-weight: bold;
}

.definitionTypeText,
.synonymsTitle,
.wordTitleText {
  color: #dd9148;
}

.pronunciationWordText {
  color: #dc8e7f;
  font-size: 20px;
  text-align: center;
}

.definitionText,
.exampleText,
.synonymsText {
  color: rgb(39, 31, 22);
  font-size: 16px;
  font-family: "Neuton", serif;
}

.definitionText {
  font-weight: bold;
  font-size: 18px;
}

.exampleText {
  font-style: italic;
}


.resultImg {
  border-radius: 7px;
  background: #f8ffe5;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 40%);
}


.footer {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  margin-top: 25px;
}

.loading {
  margin: 0 auto;
  position: center;
  font-variant: normal;
  font-weight: bolder;
  font-size: 30px;
}



.imageCol{
  padding: 5px;
}